html, body {
    padding-top: 120px;
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

mark { /* For mark.js's highlighting feature (used in subject page and search page) */
  background: orange;
  color: inherit;
  padding: 0;
}
.navbar{
    font-size: 18px;
}
.navbar-brand{
    color: #F2404B;
}
a.navbar-brand,
a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:hover,
a.navbar-brand:focus,
a.navbar-brand:active{
    color: #F2404B;
}


a.navbar-link,
a.navbar-link:link,
a.navbar-link:visited,
a.navbar-link:hover,
a.navbar-link:focus,
a.navbar-link:active{
    color: #F2404B;
    text-decoration: none;
}

.card, .midCard{ /* midCard overrides card-body's text-align setting for Law school and CSON*/
    text-align:center;
}

.card-body{
    display:block;
    text-align:left;
    font-size: 14px;
}

.basicInfo{
    text-align:center;
}

#calendar {
  max-width: 1200px;
  margin: 0 auto;
}

#footer-bar{
    position: relative;
    bottom: 0rem;
    background-color: white;
    font-size: 1.05rem;
    font-family: "Lato-Light", "san-serif";
    color: dimgrey;
    padding: 0.1rem;
    text-align: center;
    width: 100%;
}

#footer-bar p{
    margin-top: 0.9rem;
}

.chart {
    padding-left: 260px;
    padding-bottom: 240px;

    margin: center;
}
